<html xmlns"http></html>/www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css">

    <style type="text/css">
        .ReadMsgBody { width: 100%; }
        .ExternalClass { width: 100%; }
    </style>

    <style type="text/css">
      .wrapper {
        width: 500px;
        margin: 0 auto;
        border: 2px solid black;
        padding: 10px;
      }

      .brand-name {
        font-family: 'Cinzel Decorative';
        font-size: 43px;
        font-weight: lighter;
      }

      h3, h4, p {
        font-family: 'Montserrat';
      }

      .center {
        text-align: center;
      }

      .footer-info a {
        font-size: 11px;
        color: #B3B3B3;
        text-decoration: none;
        display: block;
        text-align: center;
      }

      .tag {
        margin: 20px 0 0 0;
      }

      .signature {
        margin: 0 0 20px 0;
      }

      .social-links-container {
        width: 150px;
        margin: 20px auto;
      }

      .social-links-container a img {
        width: 60px;
      }

      .social-links-container .social-link {
        margin-right: 20px;
        display: inline-block;
      }

      .social-links-container .social-link:last-child {
        margin-right: 0px;
      }

    </style>
</head>
<body>
  <div class="wrapper" style="width: 500px;margin: 0 auto;border: 2px solid black;padding: 10px;">
     <h2 class="brand-name center" style="font-family: 'Cinzel Decorative';font-size: 43px;font-weight: lighter;text-align: center;">K</h2>
     <h3 class="thanks center" style="font-family: 'Montserrat';text-align: center;">Thanks for Signing Up!</h3>
     <p style="font-family: 'Montserrat';">Here is your unique url. Share with with everyone you know, the more people who sign up the more free stuff you get!</p>

     <a href="http://prelaunch.kursedapparel.com?ref=<%= @user.referral_code %>">prelaunch.kursedapparel.com?ref=<%= @user.referral_code %></a>

     <p class="center" style="font-family: 'Montserrat';text-align: center;">Share via:</p>
     <div class="social-links-container group" style="width: 150px;margin: 20px auto;">
       <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(Rails.application.config.action_mailer.default_url_options || "") %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Kursed" class="social-link" target="_blank" style="margin-right: 20px;display: inline-block;"><img src="<%= Rails.root.join('app/assets/images/email/icon-fb.png') %>" alt="Share on Facebook" style="display: block;margin: 0;padding: 0;border: 0;width: 60px;"></a>
      <a href="http://twitter.com/share?url=<%= CGI::escape(Rails.application.config.action_mailer.default_url_options || "") %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(@twitter_message) %>" class="social-link" target="_blank" style="margin-right: 0px;display: inline-block;"><img src="<%= Rails.root.join('app/assets/images/email/icon-tw.png') %>" alt="Share on Twitter" style="display: block;margin: 0;padding: 0;border: 0;width: 60px;"></a>
     </div>

     <p class="tag" style="font-family: 'Montserrat';margin: 20px 0 0 0;">Have fun!</p>
     <p class="signature" style="font-family: 'Montserrat';margin: 0 0 20px 0;">The Kursed Team</p>

     <p class="footer-info" style="font-family: 'Montserrat';"><a href="http://kursedapparel.com" style="font-size: 11px;color: #B3B3B3;text-decoration: none;display: block;text-align: center;">KursedApparel.com</a></p>
  </div>
</body>
